<div class="flex justify-center p-3">
    {{input value=value
        key-up=(action 'handleFilterEntry')
        class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-7/12 appearance-none leading-normal"
        placeholder="Search for an item"}}
</div>
<div class="flex justify-center">
    <table class="table-auto">
        <thead class="text-white">
            <tr class="bg-teal-400">
                <th class="px-4 py-2">Item</th>
                <th class="px-4 py-2">Quantity</th>
                <th class="px-4 py-2">Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each model as |item|}}
                <tr class="item">
                    <td class="border px-4 py-2 font-semibold">{{#link-to "items.show" item class=(concat 'item' item.id)}}{{item.title}}{{/link-to}}</td>
                    <td class="border px-4 py-2">{{item.quantity}}</td>
                    <td class="border px-4 py-2">{{item.price}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>