<strong>Item Detail</strong>
<div class="flex mb-4 p-3">
  <div class="w-3/4 h-12 font-semibold">{{model.title}} [{{model.quantity}}]</div>
<div class="w-full"><p>{{model.description}}</p></div>
</div>
<button {{action "addToCart" model}}>Add to Cart</button>