<strong>Item Detail</strong>
<div class="flex mb-4 p-3">
  <div class="w-3/4 h-12 font-semibold">{{model.item.title}} [{{model.item.quantity}}]</div>
<div class="w-full"><p>{{model.item.description}}</p></div>
</div>
<button {{action "addToCart" model.item}}>Add to Cart</button>