{{#each model as |cartItem|}}
<div class="flex mb-4 p-3">
  <div class="w-3/4 h-12 font-semibold">{{cartItem.item-id}} [{{cartItem.quantity}}]</div>
  <div class="w-1/4 h-12">
  {{cartItem.price}}
</div>
</div>
{{/each}}